{% extends 'layouts/default.twig' %}

{% block content %}
    <div class="important-facts">
        <div class="col-md-3">
            <div class="card">
                <span class="references-count">287</span>
                <p>different references</p>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card">
                <span class="average-quantity">287</span>
                <p>average quantity per reference</p>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card">
                <span class="products-count">287</span>
                <p>products in stock</p>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card">
                <span class="average-price">287</span>
                <p>average price</p>
            </div>
        </div>
    </div>
{% endblock %}

{% block breadcrumb %}
    <a href="{{ url('admin/dashboard') }}" title="Dashboard">Dashboard</a>
{% endblock %}

{% block extra_scripts %}
    <script src="{{ asset('js/dashboard.min.js') }}"></script>
{% endblock %}
