{% extends 'layouts/default.twig' %}

{% block content %}
    <div class="products">
        <div class="products-actions">
            <div class="products-actions-left">
                <span class="products-actions-count">128 items</span>

                <div class="products-actions-search">
                    <input type="search" name="search" id="search" placeholder="Search items...">
                </div>
            </div>

            <div class="products-actions-view">
                <div class="products-actions-order">
                    <span>Order by</span>
                    <select id="order" name="order">
                        <option value="id" selected>ID</option>
                        <option value="price">Price</option>
                        <option value="quantity">Quantity</option>
                    </select>
                </div>

                <div class="products-actions-template">
                    <a href="#" class="products-actions-template-option products-actions-template-option-list products-actions-template-option-active"><i class="fa fa-list-ul" aria-hidden="true"></i></a>
                    <a href="#" class="products-actions-template-option products-actions-template-option-grid"><i class="fa fa-th" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>

        <div class="products-grid">
            <div class="product-element">
                <div class="product">
                    <div class="product-id">
                        <span>0001</span>
                    </div>

                    <div class="product-image">
                        <img src="assets/img/macbookpro.png" alt="">
                    </div>

                    <div class="product-title">
                        <span>Macbook Pro 15 pouces 2016</span>
                    </div>

                    <div class="product-category">
                        <span>Ordinateurs Mac</span>
                    </div>

                    <div class="product-price">
                        <span>Price: </span>
                        <span>$2,899</span>
                    </div>

                    <div class="product-quantity">
                        <span>Quantity:</span>
                        <span>2876</span>
                    </div>

                    <div class="product-actions">
                        <div class="product-actions-delete">
                            <a href="#">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </a>
                        </div>

                        <div class="product-actions-edit">
                            <a href="#">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="product-element">
                <div class="product">
                    <div class="product-id">
                        <span>0001</span>
                    </div>

                    <div class="product-image">
                        <img src="assets/img/macbookpro.png" alt="">
                    </div>

                    <div class="product-title">
                        <span>Macbook Pro 15 pouces 2016</span>
                    </div>

                    <div class="product-category">
                        <span>Ordinateurs Mac</span>
                    </div>

                    <div class="product-price">
                        <span>Price: </span>
                        <span>$2,899</span>
                    </div>

                    <div class="product-quantity">
                        <span>Quantity:</span>
                        <span>2876</span>
                    </div>

                    <div class="product-actions">
                        <div class="product-actions-delete">
                            <a href="#">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </a>
                        </div>

                        <div class="product-actions-edit">
                            <a href="#">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="product-element">
                <div class="product">
                    <div class="product-id">
                        <span>0001</span>
                    </div>

                    <div class="product-image">
                        <img src="assets/img/macbookpro.png" alt="">
                    </div>

                    <div class="product-title">
                        <span>Macbook Pro 15 pouces 2016</span>
                    </div>

                    <div class="product-category">
                        <span>Ordinateurs Mac</span>
                    </div>

                    <div class="product-price">
                        <span>Price: </span>
                        <span>$2,899</span>
                    </div>

                    <div class="product-quantity">
                        <span>Quantity:</span>
                        <span>2876</span>
                    </div>

                    <div class="product-actions">
                        <div class="product-actions-delete">
                            <a href="#">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </a>
                        </div>

                        <div class="product-actions-edit">
                            <a href="#">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="product-element">
                <div class="product">
                    <div class="product-id">
                        <span>0001</span>
                    </div>

                    <div class="product-image">
                        <img src="assets/img/macbookpro.png" alt="">
                    </div>

                    <div class="product-title">
                        <span>Macbook Pro 15 pouces 2016</span>
                    </div>

                    <div class="product-category">
                        <span>Ordinateurs Mac</span>
                    </div>

                    <div class="product-price">
                        <span>Price: </span>
                        <span>$2,899</span>
                    </div>

                    <div class="product-quantity">
                        <span>Quantity:</span>
                        <span>2876</span>
                    </div>

                    <div class="product-actions">
                        <div class="product-actions-delete">
                            <a href="#">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </a>
                        </div>

                        <div class="product-actions-edit">
                            <a href="#">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="product-element">
                <div class="product">
                    <div class="product-id">
                        <span>0001</span>
                    </div>

                    <div class="product-image">
                        <img src="assets/img/macbookpro.png" alt="">
                    </div>

                    <div class="product-title">
                        <span>Macbook Pro 15 pouces 2016</span>
                    </div>

                    <div class="product-category">
                        <span>Ordinateurs Mac</span>
                    </div>

                    <div class="product-price">
                        <span>Price: </span>
                        <span>$2,899</span>
                    </div>

                    <div class="product-quantity">
                        <span>Quantity:</span>
                        <span>2876</span>
                    </div>

                    <div class="product-actions">
                        <div class="product-actions-delete">
                            <a href="#">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </a>
                        </div>

                        <div class="product-actions-edit">
                            <a href="#">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="product-element">
                <div class="product">
                    <div class="product-id">
                        <span>0001</span>
                    </div>

                    <div class="product-image">
                        <img src="assets/img/macbookpro.png" alt="">
                    </div>

                    <div class="product-title">
                        <span>Macbook Pro 15 pouces 2016</span>
                    </div>

                    <div class="product-category">
                        <span>Ordinateurs Mac</span>
                    </div>

                    <div class="product-price">
                        <span>Price: </span>
                        <span>$2,899</span>
                    </div>

                    <div class="product-quantity">
                        <span>Quantity:</span>
                        <span>2876</span>
                    </div>

                    <div class="product-actions">
                        <div class="product-actions-delete">
                            <a href="#">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </a>
                        </div>

                        <div class="product-actions-edit">
                            <a href="#">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block breadcrumb %}
    <a href="{{ url('admin/dashboard') }}" title="Dashboard">Dashboard</a> > <a href="{{ url('admin/products') }}" title="Products">Products</a>
{% endblock %}

{% block extra_scripts %}
    <script src="{{ asset('js/products.min.js') }}"></script>
{% endblock %}
